@use 'sass:map';
@use './function.scss' as *;
$types:primary info warning danger success;
$button-sizes:small large middle;
$primary:#FE7B05;
$info: #909399;
$success: #67C23A;
$warning: #E6A23C;
$danger: #ec3437;
$button-colors: (
        'primary': $primary,
        'info': $info,
        'success': $success,
        'warning': $warning,
        'danger': $danger,
);

$button-plain-colors:(
        'primary':lighten($primary,$amount:20),
        'info': lighten($info,$amount:20),
        'success': lighten($success,$amount:20),
        'warning': lighten($warning,$amount:20),
        'danger': lighten($danger,$amount:20),
);

$sizes: (
        'small':(
                'padding':0.8em 1.3em
        ),
        'middle':(
                'padding':1em 2em
        ),
        'large':(
                'padding':1.3em 2.8em
        )
);
// 定义按钮样式的 mixin
@mixin button-style($type) {
  cursor: pointer;
  background-color: map-get($button-colors, $type);
}

//定义size的样式
@mixin button-size($size){
  padding: map-get($sizes,$size,'padding')!important;
}

@mixin button-plain-style($type){
        cursor: pointer;
        background-color: lighten(map-get($button-colors,$type),40);
        border: 1px solid lighten(map-get($button-colors,$type),20);
        color: map-get($button-colors,$type);
        &:hover{
                background-color: map-get($button-colors,$type);
                opacity: 100!important;
                color: lighten(map-get($button-colors,$type),50);
        }
}
