@use '../mixins/mixin' as *;
@use '../mixins/button' as *;

//根据不同的状态传入不同的颜色。
@include b(button){
  @each $type in $types {
    // 调用 button-style mixin 应用不同类型的按钮样式
    @include m($type) {
      @include button-style($type);
      @include when(plain){
        @include button-plain-style($type)
      }
    }
  }
  @each $size in $button-sizes{
    @include m($size){
      @include button-size($size)
    }
  }
}

@include b(button){
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border:0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  //不能复制
  user-select: none;
  vertical-align: middle;
  //当是默认
  @include m(default){
    background-color: white;
    color: #666666;
    border: 1px solid #888888;
     &:not([disabled]):hover{
      opacity: 70%;
      background-color: lighten($primary, $amount: 10);
      border: 1px solid lighten($primary, $amount: 10);
      color: white;
  }
  }
  &:not([disabled]):hover{
    opacity: 70%;
  }
  @include when(round){
    border-radius: 20px;
  }

  @include when(circle){
    border-radius: 100%;
    padding: 10px!important;
  }
  @include when(disabled){
    opacity: 0.7;
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      background-image: none;
    }
  }
  @include when(loading){
    opacity: 0.7;
    .reload{
      animation: rotateLoading 1.5s linear infinite;
    }
  }

}
//旋转
@keyframes rotateLoading {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}
